.main {
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.card {
  border-radius: 12px;
  background-color: white;
  padding: 16px;
  box-shadow: 0 5px 12.5px 0 rgba(0, 0, 0, .2);
}

.list {
  display: grid;
  gap: 24px;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}