.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main > div {
  width: 50vw;
  height: 100vh;
}

.detailArea {
  background-color: #ECFAF9;
  position: relative;
  padding: 100px 70px 20px 70px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.detailTitle {
  font-size: 32px;
  font-weight: bold;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 52px;
  overflow: auto;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

 /*Google Chrome、Safariへの対応*/
 .detail::-webkit-scrollbar{
  display: none;
}

.editIcon {
  cursor: pointer;
}

.inputArea {
  padding: 100px 52px;
}

.loadingWindow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.loadingWindow img {
  width: 100px;
  height: 100px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputAreaTitle {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.valueArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.valueTitleArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.valueDetailArea {
  font-size: 16px;
}

.defaultInputArea {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}


.noValues {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: var(--color-memo);
}

.bold {
  font-weight: bold;
}