@media screen and (min-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 32px;
  }
  
  .content {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 32px;
  }

  .contentTitle {
    font-size: 18px;
    font-weight: bold;
    min-width: 180px;
    max-width: 180px;
  }

  .bar {
    min-width: 30px;
    max-width: 30px;
    background-color: black;
    height: 1px;
  }

  .card {
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .buttonArea {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 24px;
  }

  .button {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 8px;
    font-weight: bold;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
  }

  .buttonOnline {
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    color: var(--color-primary);
    font-weight: bold;
    padding: 8px 16px;
    cursor: pointer;
  }

  .planName {
    font-weight: bold;
    font-size: 18px;
  }

  .buttonToCustomerPortal {
    text-decoration: underline;
    cursor: pointer;
  }
}