.main {
  display: flex;
  justify-content: space-between;
}

.dashboardArea {
  width: calc(100vw - 80px - 400px);
  height: calc(100vh - 60px);
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleArea {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 18px
}

.selectBoxArea {
  display: flex;
  justify-content: right;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
}

.firstFloor {
  height: calc(100vh - 60px - 24px * 2 - 32px - 32px - 40px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
}

.firstFloor > div {
  display: grid;
  align-items: stretch;
  justify-content: stretch;
}
