.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.coreActions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.title {
  font-weight: bold;
}