@media screen and (min-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }

  .titleArea {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: bold;
  }

  .coreActions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }

  .noActions {
    font-size: 14px;
    color: var(--color-memo);
    margin: 24px 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 520px) and (max-width: 1199px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }

  .titleArea {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: bold;
  }

  .coreActions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }

  .noActions {
    font-size: 14px;
    color: var(--color-memo);
    margin: 24px 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 519px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 65vw;
  }

  .titleArea {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: bold;
  }

  .coreActions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }

  .noActions {
    font-size: 14px;
    color: var(--color-memo);
    margin: 24px 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}