.main {
  width: 600px;
  /* width: 40vw; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleArea {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.link {
  text-decoration: underline;
  color: var(--color-link);
}

.coreActions {
  display: flex;
  flex-direction: column;
}

.border {
  width: 100%;
  height: 1px;
  background-color: rgb(204, 204, 204);
  margin: 24px 0;
}


.coreAction {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.coreAction > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.value {
  font-size: 20px;
  font-weight: bold;

  /* 三点リーダー */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.datetime {
  font-size: 14px;
  color: var(--color-memo);
  min-width: 160px;
  text-align: right;
}

.actionNumber {
  font-size: 14px;
  color: var(--color-memo);
}

.iconMemberTo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid rgb(207, 207, 207);
}

.memberTo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.iconMemberFrom {
  height: 32px;
  width: 32px;
  border-radius: 20px;
  border: 1px solid rgb(207, 207, 207);
}

.memberFrom {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.detail {
  /* 三点リーダー */
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}