@media screen and (min-width: 1200px) {
  .main {
    background-color: white;
    min-width: 400px;
    max-width: 400px;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
  }

  .coreActions {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    overflow-y: auto;
  }

  .coreAction {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
  }

  .titleArea {
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  .link {
    font-size: 14px;
    color: var(--color-link);
    text-decoration: underline;
  }

  .datetime {
    font-size: 12px;
    color: var(--color-memo);
    text-align: right;
  }

  .value {
    font-size: 18px;
    font-weight: bold;

    /* 三点リーダー */
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .memberArea {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
  }

  .member {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .detail {
    font-size: 14px;

    /* 三点リーダー */
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .border {
    width: 100%;
    height: 1px;
    background-color: rgb(204, 204, 204);
    margin-bottom: 20px;
  }

  .actionNumber {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-memo);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actionNumber > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    gap: 16px;
  }

  .emoji {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 520px) and (max-width: 1199px) {
}

@media screen and (max-width: 519px) {
  .main {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .coreActions {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 24px;
    margin-bottom: 60px;
    overflow-y: auto;
  }

  .coreAction {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
  }

  .titleArea {
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  .link {
    font-size: 14px;
    color: var(--color-link);
    text-decoration: underline;
  }

  .datetime {
    font-size: 12px;
    color: var(--color-memo);
    text-align: right;
  }

  .value {
    font-size: 18px;
    font-weight: bold;

    /* 三点リーダー */
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .noActions {
    font-size: 14px;
    color: var(--color-memo);
    text-align: center;
  }

  .memberArea {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
  }

  .member {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .detail {
    font-size: 14px;

    /* 三点リーダー */
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .border {
    width: 100%;
    height: 1px;
    background-color: rgb(204, 204, 204);
    margin-bottom: 20px;
  }

  .actionNumber {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-memo);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actionNumber > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    gap: 16px;
  }

  .emoji {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
}
