.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  font-weight: bold;
}

.topMember {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
}

.noIconTop {
  border-radius: 50px;
  width: 46px;
  height: 46px;
  border: 1px dotted rgb(184, 184, 184);
  background-color: rgb(247, 247, 247);
}

.otherMemberList {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
}

.noIcon {
  border-radius: 18px;
  width: 36px;
  height: 36px;
  border: 1px dotted rgb(184, 184, 184);
  background-color: rgb(247, 247, 247);
}