.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 32px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.contentsArea {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.menu {
  padding: 32px 56px 32px 0;
  width: 350px;
  height: 100%;
  border-right: 1px solid #cfcdcd;

  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 16px;
}

.menuLabel {
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.menuLabelSelected {
  background-color: #D7EDEC;
}

.children {
  width: 100%;
  height: 100%;
  padding: 32px 24px 32px 56px;
  overflow: auto;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

 /*Google Chrome、Safariへの対応*/
 .children::-webkit-scrollbar{
  display: none;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.contents {
  padding: 32px 0;
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}